**node_modules**
!logo.png
**.webp**
**.jpg**
**.jpeg**
**.png**
yaml/*
vendor/
vendor/*
views/images/**/*.jpg
views/images/**/*.jpeg
views/images/**/*.png
views/images/**/*.gif
views/images/**/*.avif
views/images/**/*.webp
!views/images/
**.DS_Store**
**.DS_Store
.DS_Store
views/.DS_Store
.php-cs-fixer.dist.php
.php-cs-fixer.cache
