dydaps_configurable_packs_index:
  path: /dydaps/configurable-packs
  methods: [GET]
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::index
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks

dydaps_configurable_packs_search:
  path: /dydaps/configurable-packs
  methods: [POST]
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::search
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks

dydaps_configurable_packs_create:
  path: /dydaps/configurable-packs/create
  methods: [GET, POST]
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::create
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks

dydaps_configurable_packs_edit:
  path: /dydaps/configurable-packs/{id}/edit
  methods: [GET, POST]
  requirements:
    id: \d+
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::edit
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks

dydaps_configurable_packs_toggle:
  path: /dydaps/configurable-packs/{id}/toggle
  methods: [POST]
  requirements:
    id: \d+
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::toggle
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks

dydaps_configurable_packs_delete:
  path: /dydaps/configurable-packs/{id}/delete
  methods: [POST]
  requirements:
    id: \d+
  defaults:
    _controller: dydaps.configurable_packs.controller.admin.pack::delete
    _admin_route: true
    _legacy_controller: AdminDydapsConfigurablePacks
    _legacy_link: AdminDydapsConfigurablePacks
